


<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Log In</title>
    <style>
        body {
            background-color: #a9d1fc;
            color: brown;
        }

        a.button {
            -webkit-appearance: button;
            -moz-appearance: button;
            appearance: button;
            text-decoration: none;
            color: initial;
            padding: 2px;
        }
    </style>
</head>
<body>
    <h1>Log In to Start Bidding</h1>
    <form th:method="post">
        <label>Username</label>
        <input th:type="text" name="username" /> <br /> <br />

        <label>Password</label>
        <input th:type="password" name="password" /> <br /> <br />

        <input th:type="submit" th:value="'Log in'" />

        <a>@Html.ActionLink("Contact", "Index", "Home/Contact")</a>
        @{
            ViewBag.Title = "Home Page";
        }


        <div>
            @Html.ActionLink("List of users", "Index", "Users")<br />
        </div></form>
</body>
</html>